{{!-- <section id="section1" class="panel">
    <div class="bio-info">
        <h1 class="p-name">Some generic info here...</h1>
    </div>

</section> --}}
{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section3" class="panel">
    <h1 class="user-panel-heading">
        My Favorite Things TO EAT
    </h1>

    <p class="header-text">
        Here my favorite things that I like to eat! 
        I can eat them in any quantity at any time. 
        Fortunately, they are more-less useful for health, 
        have many vitamins and minerals. Even chocolate is considered a 
        useful food from which you do not get fat.
    </p>

    <h4>Click on thr "Read more" button to learn more about my favorite food.</h4>

    <div class="things">
        <!-- loop through all our team members 
        and put their info on the page -->
        <!--this like a forEach loop with plain JS-->
        {{#each data}}
        <div class="food-panel">
            
            <h1>{{Title}}</h1>
            <h3>{{Type}}</h3>

            <img class="food-image" src="images/{{Image}}" alt=" image of food">
            <a class="link" href="{{ID}}">Read more</a>

        </div>
        {{/each}}
    </div>
    

    <!-- this will be filled in on the client side 
    when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">+</span>
        <div class="sidebar">
            <img src="" alt="larger image">
        </div>

        <div class="lb-content">

        </div>
    </section>
    
</section>
{{!-- <section id="section4" class="panel">panel 4</section>
<section id="section5" class="panel"></section> --}}